* {
    box-sizing: border-box;
}
body {
    margin: 20px;
    background-color: rgb(56, 54, 54);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    height: auto;
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 5px groove white;
    padding: 10px;
    align-items: center;
}
a {
    color: white;
}
ul {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    padding: 0;
    margin-left: 25px;
}
ol {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    padding: 0;
    margin-left: 25px;
}    
h1, h2, a {
    text-align: center;
}
.center {
    text-align: center;
}
p, a, h3{
    margin-left: 25px;
}